<!-- about.ejs
----- -->
<div class="container">
    <h1 class="my-4">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, aut omnis suscipit animi laborum fuga nostrum earum molestiae sequi iusto cupiditate? Cupiditate magni debitis fugiat dolore odio ut, pariatur nesciunt minima inventore molestias minus perferendis rem esse amet illo officiis repudiandae voluptas quidem cumque aperiam iusto corrupti nisi consectetur nemo. Molestias omnis adipisci maiores accusamus eligendi numquam eaque aspernatur ex, nisi natus vero laboriosam ut repellat a impedit, amet et consequuntur reiciendis. Illum recusandae incidunt reiciendis veniam earum similique commodi, voluptatem nulla illo ut quam, voluptate, quaerat rem ratione enim? Quidem dignissimos sequi ipsa, consectetur nostrum sit obcaecati voluptatum fugiat.</p>
</div>